.autosuggest-text-input {
  background-color: #274167;
  border: none;
  border-radius: 0.2rem;
  color: white;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
