.bottom-nav-bar-container {
  background-color: $background1;
  height: 10vh;
  width: 100%;
  bottom: 0px;

  .bottom-nav-bar {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0rem 0.3rem 0.3rem;

    & > div {
      position: relative;
    }

    .bottom-nav-item {
      display: flex;
      height: 100%;
      width: 5rem;
      flex: 1;
      & > button {
        cursor: pointer;
        flex: 1;
        background: $background4;
        height: 100%;
        margin-right: 0.3rem;
        border-radius: 0.5rem;
        border: none;
        color: $light-text1;
        flex-direction: column;
        padding: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.6;
        font-size: 0.9rem;

        &:hover {
          background: linear-gradient($gradient-start, $gradient-end);
          opacity: 1;
        }

        div {
          height: 2rem;
          width: 5rem;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin-bottom: 0.2rem;
          margin-top: 0.3rem;
        }
      }
    }
  }
}


.nav-dropdown-wrapper {
  position: absolute;
  bottom: 100%;
  left: 0px;
  background-color: $background8;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;

  .settings-item {
    min-width: 25rem;
    // min-height: 2rem;
    border-top: 1px solid $border1;
    .settings-header {
      display: flex;
      flex-direction: row;
      color: white;
      cursor: pointer;
      .settings-icon {
        background-image: 'white';
        height: 3rem;
        width: 3rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2rem;
        margin-right: 0.5rem;
      }

      .settings-item-title {
        font-weight: 500;
        font-size: 120%;
        line-height: 1rem;
        margin-top: 0.5rem;
      }

      .settings-open-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        transition: all 500ms;

        &.closed {
          transform: rotate(90deg);
        }

        &.open {
          transform: rotate(-90deg);
        }
      }
    }
    .settings-item-drop {
      background: $background2;
      color: white;
      padding: 0.5rem 1rem;
      margin-top: 0.5rem;
      border-radius: 0 0 0.2rem 0.2rem;
      transition: all 500ms linear;
      &.closed {
        height: 0;
        overflow-y: hidden;
        padding: 0 1rem;
      }

      p {
        margin-top: 0.5rem;
        padding: 6px 16px;
        cursor: pointer;
        margin-bottom: unset;
        &.selected {
          background: linear-gradient($gradient-start, $gradient-end);
        }
      }
    }
  }
}
