$primary1: #0a7aeb;
$secondary: #0e87fa;

$light-text1: #fff;
$light-text3: #cfcfcf;

$green-text1: #33b57d;

$background1: #1a1c29;
$background2: #02162c;
$background3: #07203c;
$background4: #323756;
$background5: #aeb0b54f;
$background6: #1c2641;
$background7: #274167;
$background8: #282d4b;

$border1: #0b7dee;

$gradient-start: #0f8bfe;
$gradient-end: #066ad9;
