.Toastify__progress-bar-theme--light {
  background: linear-gradient(
    to right,
    $gradient-start,
    $gradient-end
  ) !important;
}

.Toastify__toast-theme--light {
  background: #274167 !important;
  border: 1px solid #0d84f6 !important;
  color: #ffffff !important;
}

.Toastify__close-button--light {
  color: $primary1 !important;
  opacity: 1 !important;
}
