.patient-selection {
  flex-direction: column;
  justify-content: flex-start !important;
  padding: 1rem;
  .patient-selection-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }
}

.patient-id-input-wrapper {
  position: relative;
  .patient-id-input-edit-btn {
    background-image: url('../../public/images/edit-icon.svg');
    background-color: transparent;
    border: none;
    position: relative;
    right: 1.5rem;
    height: 1rem;
    width: 1rem;
    background-position: center;
    background-size: contain;
  }
}

.patient-id-input {
  min-width: 1rem;
  background-color: $background7;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  padding: 0.5rem;
  padding-right: 1rem;
}

.patient-card {
  background-color: $background7;
  border-radius: 0.3rem;
  border-top-left-radius: 0;
  border: 1px solid $border1;
  color: white;
  position: absolute;
  top: 50%;
  left: 105%;
  z-index: 999;
  padding: 0.5rem;
  min-width: 10rem;
  box-shadow: 0px 10px 15px #02162c;
  white-space: nowrap;
}
